.shortened-links-list {
  position: relative;
  bottom: 4rem;
  left: 4rem;
  width: 85%;
  ul {
    white-space: nowrap;
  }
  li {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0.8rem 1.5rem;
    background: white;
    border-radius: 0.3rem;
    color: var(--text-dark);
    margin: 0.7rem 0;
    overflow: hidden;
    font-size: 0.9rem;
  }
  button {
    padding: 0.55rem 1.5rem;
    margin: 0 0.1rem 0 1rem;
    border-radius: 0.3rem;
    font-size: 0.7rem;
  }
  .original-link {
    position: relative;
    top: 0.3rem;
    width: 50%;
    display: inline-block;
    overflow: hidden;
  }
  .short-link {
    position: relative;
    top: 0.3rem;
    color: var(--primary-color);
    font-weight: 700;
  }
}

@media (max-width: 890px) {
  .shortened-links-list {
    left: 4.7rem;
    width: 79%;
    ul {
      padding: 0;
    }
  }
}
@media (max-width: 460px) {
  .shortened-links-list {
    left: 0;
    bottom: 4rem;
    width: 85%;
    li {
      padding: 2rem 1.5rem;
      margin: 1rem 0;
      width: 100%;
    }
    .original-link {
      padding-bottom: 1rem;
      top: -0.8rem;
      width: 100%;
      border-bottom: 1px solid var(--text)
    }
    button {
      padding: 1rem 6.5rem;
      margin: 1rem 0 0 0;
      font-size: 1.1rem;
    }
  }
}