header {
  display: flex;
  justify-content: space-between;
}

header li:first-of-type {
  margin: 0 2rem 0 3rem;
  color: var(--text-dark);
  font-weight: 700;
  font-size: 1.5rem;
}

header ul {
  display: inline-flex;
}

header li {
  margin: 0 0.7rem;
}

.login {
  position: absolute;
  right: 7.5rem;
  display: inline;
  align-self: center;
}

.login span {
  margin-right: 1rem;
}
