header {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;

  ul {
    display: inline-flex;
  }

  .menu-items {
    margin: 0 0.7rem;
    font-weight: 700;
    &:hover {
      color: var(--text-dark);
      transition: var(--transition);
    }
  }

  .brand {
    margin: 0 2rem 0 3rem;
    color: var(--text-dark);
    font-weight: 700;
    font-size: 1.8rem;
  }
}

.login {
  display: inline;
  position: absolute;
  right: 7.5rem;
  align-self: center;
  font-weight: 700;

  span {
    margin-right: 1rem;
    &:hover {
      color: var(--text-dark);
      transition: var(--transition);
    }
  }

  button {
    padding: 0.7rem 1.5rem;
    font-size: 0.87rem;
  }  
}

.menu {
  display: none;
}

@media (max-width: 890px) {
  header {
    margin-top: 3rem;
  }
  header ul {
    display: contents;
}
  .menu-items, .login {
    display: none;
  }
  .menu {
    display: initial;
    margin-right: 2rem;
    width: 2.2rem;
    opacity: 0.4;
  }
}