.purple-bg {
  background-color: var(--secondary-color);
  background-image: url(../../assets/images/bg-boost-desktop.svg);
  background-size: cover;
  color: white;
  padding: 2rem 0rem;
}

footer {
  text-align: left;
  padding: 3rem 0rem;
  background-color: var(--text-dark);

  h2 {
    position: absolute;
    left: 6rem;
  }
  ul {
    display: block;
    line-height: 2rem;
    margin-right: 1rem;
  }
  /* apply hover effect to li except for first li */
  li:hover:not(:first-of-type) {
    color: var(--primary-color);
  }
}

.about {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.icons {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  right: 8rem;

  img {
    width: 1.4rem;
    margin-right: 1.2rem;    
    /* adds a filter to change png color */
    &:hover {
      filter: grayscale(100%) brightness(30%) sepia(70%) hue-rotate(-150deg) saturate(900%) contrast(1);
    }
  }
}

.bold {
  font-weight: 700;
  color: white;
}